/* line 17, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/abi/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.sass */
.site {
  width: 600px;
  margin: 0em auto 2em 300px;
}

/* line 11, ../sass/screen.sass */
.title {
  margin-bottom: 80px;
}
/* line 14, ../sass/screen.sass */
.title .blog-title {
  font-size: 12px;
  display: block;
  text-decoration: none;
  font-family: "Letter Gothic Std";
  letter-spacing: -1px;
  border-bottom: 5px solid #3cc4aa;
  background: #1d5bb6;
  color: white;
  padding: 6px 10px;
  padding-top: 10px;
}
/* line 26, ../sass/screen.sass */
.title .bookmark {
  display: inline-block;
  background: #333333;
  width: 100px;
  margin-right: 2px;
  padding: 60px 10px 20px 10px;
  -webkit-border-radius: 0px 5px;
  -moz-border-radius: 0px / 5px;
  border-radius: 0px / 5px;
}
/* line 34, ../sass/screen.sass */
.title .bookmark a {
  color: #66ff99;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 1.4em;
  font-family: "Dawning of a New Day", cursive;
}
/* line 47, ../sass/screen.sass */
.title:hover {
  color: black;
}
/* line 51, ../sass/screen.sass */
.title .feed {
  float: right;
  width: 80px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 10px;
  font-family: "Muli", sans-serif;
  background: #444444;
  -webkit-border-radius: 0px 5px;
  -moz-border-radius: 0px / 5px;
  border-radius: 0px / 5px;
  opacity: 0.6;
}
/* line 62, ../sass/screen.sass */
.title .feed:hover {
  opacity: 1;
}
/* line 65, ../sass/screen.sass */
.title .feed a {
  text-decoration: none;
  color: #66fc99;
  font-size: 10px;
}

/* line 72, ../sass/screen.sass */
.site .footer {
  font-size: 1.1em;
  color: #666666;
  border-top: 1px solid #999999;
  margin-top: 2px;
  padding-top: 10px;
  overflow: hidden;
}
/* line 80, ../sass/screen.sass */
.site .footer .author-info {
  margin-top: 10px;
  float: left;
}
/* line 85, ../sass/screen.sass */
.site .footer .sm {
  margin-top: 10px;
  float: right;
}
/* line 88, ../sass/screen.sass */
.site .footer .sm a {
  margin-right: 0px;
}
/* line 90, ../sass/screen.sass */
.site .footer .sm img {
  padding: 0px;
  border: 0px;
  vertical-align: text-top;
  background-color: white;
}

/* line 99, ../sass/screen.sass */
.posts {
  margin-bottom: 2em;
  margin-top: 160px;
  font-family: "Old Standard TT";
  color: black;
}
/* line 106, ../sass/screen.sass */
.posts li {
  line-height: 1em;
  margin-bottom: 70px;
}
/* line 110, ../sass/screen.sass */
.posts li h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
/* line 114, ../sass/screen.sass */
.posts li .date {
  font-size: 0.6em;
}

/* line 121, ../sass/screen.sass */
body {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 16px;
  color: blue;
}

/* line 130, ../sass/screen.sass */
.date, .permalink {
  font-size: 0.6em;
}

/* line 133, ../sass/screen.sass */
.date {
  margin-bottom: 10px;
  display: block;
  font-size: 0.8em;
  color: black;
  text-transform: uppercase;
  float: right;
}

/* line 141, ../sass/screen.sass */
.permalink {
  display: block;
  text-align: right;
  font-size: 0.5em;
  letter-spacing: 1px;
  text-decoration: none;
}
/* line 150, ../sass/screen.sass */
.permalink:visited {
  color: #333333;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 0.2px solid #333333;
}

/* line 156, ../sass/screen.sass */
a {
  color: #333333;
}

/* line 162, ../sass/screen.sass */
.post {
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Source Sans Pro";
  width: 500px;
}
/* line 170, ../sass/screen.sass */
.post h1 {
  color: black;
  margin-bottom: 84px;
  font-size: 42px;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  line-height: 1.3em;
  letter-spacing: 0px;
  width: 540px;
}
/* line 182, ../sass/screen.sass */
.post h2 {
  color: black;
  font-size: 21px;
  font-variant: small-caps;
  margin-bottom: 20px;
}
/* line 188, ../sass/screen.sass */
.post p {
  margin-bottom: 30px;
}
/* line 191, ../sass/screen.sass */
.post ul, .post ol {
  margin-bottom: 40px;
}
/* line 195, ../sass/screen.sass */
.post em {
  font-style: italic;
}
/* line 198, ../sass/screen.sass */
.post strong {
  font-weight: bold;
}
/* line 201, ../sass/screen.sass */
.post pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0 0.4em;
}
/* line 206, ../sass/screen.sass */
.post ul, .post ol {
  margin-left: 35px;
}
/* line 209, ../sass/screen.sass */
.post ul {
  list-style-type: disc;
}
/* line 211, ../sass/screen.sass */
.post ol {
  list-style-type: decimal;
}
/* line 214, ../sass/screen.sass */
.post li {
  margin-bottom: 10px;
}
/* line 217, ../sass/screen.sass */
.post blockquote {
  margin-left: 30px;
}
/* line 221, ../sass/screen.sass */
.post code {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  font-family: Monaco, "Courier New", monospace;
  font-size: 11px;
  padding: 0 0.2em;
  margin: 20 0;
  line-height: 1em;
}
/* line 230, ../sass/screen.sass */
.post pre {
  margin-bottom: 20px;
}
/* line 232, ../sass/screen.sass */
.post pre code {
  border: none;
  margin: 20 0;
}
/* line 236, ../sass/screen.sass */
.post.terminal {
  border: 1px solid black;
  background-color: #333333;
  color: white;
}
/* line 240, ../sass/screen.sass */
.post.terminal code {
  background-color: #333333;
}
/* line 243, ../sass/screen.sass */
.post .convo {
  margin-left: 30px;
}
/* line 246, ../sass/screen.sass */
.post #disqus_thread, .post #no-comments {
  margin-top: 60px;
}
/* line 249, ../sass/screen.sass */
.post #no-comments {
  padding: 30px;
  height: 1px;
}

/* line 258, ../sass/screen.sass */
.mix-img-container {
  text-align: center;
  margin: 50px 0px 40px 0px;
}

/* line 262, ../sass/screen.sass */
.mix-img {
  border: 1px solid black;
  padding: 0px;
  width: 200px;
}

/* line 271, ../sass/screen.sass */
.link-post-container {
  margin-top: 30px;
  display: block;
}

/* line 275, ../sass/screen.sass */
.link-post {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
}

/* line 283, ../sass/screen.sass */
.link-post:visited {
  color: #333333;
  border-bottom-color: #333333;
}

/* line 288, ../sass/screen.sass */
.poem {
  font-style: italiclic;
}
