/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../sass/screen.sass */
.site {
  font-size: 100%;
  text-align: justify;
  width: 40em;
  margin: 2em auto 2em auto;
}

/* line 17, ../sass/screen.sass */
.site .title {
  margin-bottom: 3em;
  font-family: Arial, "MS Trebuchet", sans-serif;
}
/* line 21, ../sass/screen.sass */
.site .title a {
  color: #aa0000;
  text-decoration: none;
  letter-spacing: -2px;
}
/* line 27, ../sass/screen.sass */
.site .title a:hover {
  color: black;
}
/* line 31, ../sass/screen.sass */
.site .footer {
  font-size: 80%;
  color: #666666;
  border-top: 1px solid #999999;
  margin-top: 10em;
  overflow: hidden;
}
/* line 39, ../sass/screen.sass */
.site .sm {
  margin-top: 10px;
  float: right;
}
/* line 42, ../sass/screen.sass */
.site .sm a {
  margin-right: 3px;
}
/* line 44, ../sass/screen.sass */
.site .sm img {
  padding: 0px;
  border: 0px;
  vertical-align: text-top;
  background-color: white;
}
/* line 50, ../sass/screen.sass */
.site .author-info {
  margin-top: 10px;
  float: left;
}

/* line 55, ../sass/screen.sass */
.posts {
  margin-bottom: 2em;
}
/* line 58, ../sass/screen.sass */
.posts li {
  line-height: 1em;
  margin-bottom: 40px;
}

/* line 66, ../sass/screen.sass */
.date {
  margin-bottom: 10px;
  display: block;
  font-size: 0.7em;
  color: #555555;
  font-family: Monaco, "Courier New", monospace;
}

/* line 73, ../sass/screen.sass */
.permalink {
  font-size: 0.7em;
  text-align: right;
  display: block;
}

/* line 78, ../sass/screen.sass */
.post {
  line-height: 1.4em;
  color: black;
}
/* line 82, ../sass/screen.sass */
.post h1 {
  color: black;
  margin-bottom: 20px;
  font-size: 1.4em;
}
/* line 87, ../sass/screen.sass */
.post p {
  margin-bottom: 20px;
}
/* line 90, ../sass/screen.sass */
.post pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0 0.4em;
}
/* line 95, ../sass/screen.sass */
.post ul, .post ol {
  margin-left: 1.35em;
}
/* line 98, ../sass/screen.sass */
.post code {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  font-family: Monaco, "Courier New", monospace;
  font-size: 0.6em;
  padding: 0 0.2em;
  margin: 20 0;
}
/* line 106, ../sass/screen.sass */
.post pre {
  margin-bottom: 20px;
}
/* line 108, ../sass/screen.sass */
.post pre code {
  border: none;
  margin: 20 0;
}
/* line 112, ../sass/screen.sass */
.post.terminal {
  border: 1px solid black;
  background-color: #333333;
  color: white;
}
/* line 116, ../sass/screen.sass */
.post.terminal code {
  background-color: #333333;
}
