/* line 1, ../sass/syntax.sass */
.highlight {
  background: white;
}
/* line 3, ../sass/syntax.sass */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 6, ../sass/syntax.sass */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 9, ../sass/syntax.sass */
.highlight .k, .highlight .o {
  font-weight: bold;
}
/* line 11, ../sass/syntax.sass */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 14, ../sass/syntax.sass */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* line 17, ../sass/syntax.sass */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 20, ../sass/syntax.sass */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 24, ../sass/syntax.sass */
.highlight .gd {
  color: black;
  background-color: #ffdddd;
}
/* line 27, ../sass/syntax.sass */
.highlight .gd .x {
  color: black;
  background-color: #ffaaaa;
}
/* line 30, ../sass/syntax.sass */
.highlight .ge {
  font-style: italic;
}
/* line 32, ../sass/syntax.sass */
.highlight .gr {
  color: #aa0000;
}
/* line 34, ../sass/syntax.sass */
.highlight .gh {
  color: #999999;
}
/* line 36, ../sass/syntax.sass */
.highlight .gi {
  color: black;
  background-color: #ddffdd;
}
/* line 39, ../sass/syntax.sass */
.highlight .gi .x {
  color: black;
  background-color: #aaffaa;
}
/* line 42, ../sass/syntax.sass */
.highlight .go {
  color: #888888;
}
/* line 44, ../sass/syntax.sass */
.highlight .gp {
  color: #555555;
}
/* line 46, ../sass/syntax.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 48, ../sass/syntax.sass */
.highlight .gu {
  color: #aaaaaa;
}
/* line 50, ../sass/syntax.sass */
.highlight .gt {
  color: #aa0000;
}
/* line 52, ../sass/syntax.sass */
.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  font-weight: bold;
}
/* line 54, ../sass/syntax.sass */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 57, ../sass/syntax.sass */
.highlight .m {
  color: #009999;
}
/* line 59, ../sass/syntax.sass */
.highlight .s {
  color: #dd1144;
}
/* line 61, ../sass/syntax.sass */
.highlight .na {
  color: teal;
}
/* line 63, ../sass/syntax.sass */
.highlight .nb {
  color: #0086b3;
}
/* line 65, ../sass/syntax.sass */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 68, ../sass/syntax.sass */
.highlight .no {
  color: teal;
}
/* line 70, ../sass/syntax.sass */
.highlight .ni {
  color: purple;
}
/* line 72, ../sass/syntax.sass */
.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 75, ../sass/syntax.sass */
.highlight .nn {
  color: #555555;
}
/* line 77, ../sass/syntax.sass */
.highlight .nt {
  color: navy;
}
/* line 79, ../sass/syntax.sass */
.highlight .nv {
  color: teal;
}
/* line 81, ../sass/syntax.sass */
.highlight .ow {
  font-weight: bold;
}
/* line 83, ../sass/syntax.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 85, ../sass/syntax.sass */
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #009999;
}
/* line 87, ../sass/syntax.sass */
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #dd1144;
}
/* line 89, ../sass/syntax.sass */
.highlight .sr {
  color: #009926;
}
/* line 91, ../sass/syntax.sass */
.highlight .s1 {
  color: #dd1144;
}
/* line 93, ../sass/syntax.sass */
.highlight .ss {
  color: #990073;
}
/* line 95, ../sass/syntax.sass */
.highlight .bp {
  color: #999999;
}
/* line 97, ../sass/syntax.sass */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: teal;
}
/* line 99, ../sass/syntax.sass */
.highlight .il {
  color: #009999;
}
