<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
      
   {% if page.title != 'Lostronaut' %}
     <title>Lostronaut — {{page.title}}</title>
   {% else %}
     <title>{{page.title}}</title>
   {% endif %}
    
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Abi Raja" />
   <link href="/atom.xml" rel="alternate" title="Abi Raja" type="application/atom+xml" />

   <!-- Fonts (thanks to Google!) -->
   <link href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Muli' rel='stylesheet' type='text/css'>
   
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   <!--  -->
   <script type="text/javascript" src="http://livejs.com/live.js"></script>
   
</head>
<body>

<div class="site">
  <div class="title">
    <div class="bookmark">
        <a href="/">Lostronaut</a>
    </div>
    <div class="feed">
        <a href="/atom.xml">subscribe</a>
    </div>
  </div>
  
  {{ content }}
  
  <div class="footer">
      <span style="float:left" class="author-info">
      Abi Raja writes here.
      </span>
      
      <span style="float:right" class='sm'>
        <a href="http://github.com/abi"><img src="/images/github.ico" /></a>
        <a href="http://twitter.com/_abi_"><img src="/images/twitter.ico" /></a>
        <a href="http://facebook.com/abi.raja"><img src="/images/facebook.ico" /></a>
        <a href="http://quora.com/Abi-Raja"><img src="/images/quora.ico" /></a>
      </span>
  </div>
</div>

<!-- Click -->

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66441487); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66441487ns.gif" /></p></noscript>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24066414-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'lostronaut'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</body>
</html>
